.title { 
  text-align: center;
}
.container {
  margin-top: 50px;
}
ul {
  list-style-type: none;
  padding: 0;
}
.city-container {
  border: solid 2px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.weather {
  list-style-type: none;
}
.weather-icon {
  vertical-align: middle;
}